.full-height {
  height: 100vh;
}

.brand-name h1 {
  font-size: 3rem;
}

.auth-form {
  max-width: 30rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
}

.scale-85 {
  transform: scale(0.85);
}

.w-90 {
  width: 90%;
}

.auth-section > :nth-child(odd) {
  margin-bottom: 0.7rem;
}

.auth-options {
  align-items: baseline;
}

.auth-options > * {
  margin: 0;
}

.btn {
  text-align: center;
}

.toggle-icon {
  background: transparent;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  font-size: larger;
}

.width-full {
  width: 100%;
}

.form-error {
  color: var(--danger);
  text-align: center;
  font-size: large;
}
