.card-img-h {
  max-width: 10rem;
}

.card-info p {
  text-align: center;
}

.cart-summary {
  width: 18.75rem;
}

.cart-summary-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-summary > h3 {
  font-size: 1rem;
  border-top: 1px solid var(--primary-dark);
  border-bottom: 1px solid var(--primary-dark);
}

.cart-summary button {
  width: 100%;
}

#increment-btn {
  width: initial;
}
#decrement-btn {
  width: initial;
}

.disabled {
  color: var(--light-grey);
}

.enabled {
  color: var(--light-white);
}
