.product-wrapper {
  display: grid;
  grid-template-areas: "filters products";
  grid-template-columns: 17rem 1fr;
}

.filters {
  grid-area: filters;
  overflow-y: scroll;
}

.filters button {
  color: var(--text-color);
}

.filters ul {
  padding: 0;
}

.filters ul li {
  display: flex;
}

.filters ul li label {
  width: 100%;
}

.filter-header {
  align-items: baseline;
}

.filter-name {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.slider {
  width: 100%;
}

.not-selected {
  color: var(--text-color);
}

.selected {
  color: var(--yellow);
}

.products {
  grid-area: products;
}

.products-container {
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  justify-items: center;
  gap: 0.5rem;
}

.card-title,
p {
  line-height: normal;
}

.card:hover {
  box-shadow: var(--primary) 0px 0px 25px 5px;
}

.card-badge {
  top: 59%;
  left: -2px;
  border-radius: 0px 3px 3px 0;
  color: var(--secondary);
  background-color: var(--success);
  border: 2px solid var(--secondary);
}

.card-horizontal {
  grid-template-columns: 1fr 2fr;
}

.rating-container {
  display: flex;
  justify-content: space-evenly;
}

.price-info div > p {
  padding: 3px;
}

.price-info i {
  font-size: 1rem;
}

.card {
  max-width: 17rem;
}

.discount {
  color: var(--green);
  font-size: 1rem;
}

.wishlist-btn {
  background-color: var(--light-white);
  border-radius: 50%;
  position: absolute;
  right: 2px;
  padding: 0.5rem;
  color: red;
}

.wishlist-btn i {
  font-size: 1rem;
}

@media screen and (max-width: 850px) {
  .product-wrapper {
    display: grid;
    /* grid-template-areas: "products"; */
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }

  .brand-name,
  .brand-name > * {
    font-size: revert;
  }
}

@media screen and (max-width: 480px) {
  header nav {
    display: none;
  }

  .card {
    max-width: 15rem;
  }

  .card-img {
    max-height: 24rem;
  }
}
