.product-wrapper {
  display: grid;
  grid-template-areas: "filters products";
  grid-template-columns: 17rem 1fr;
}

.filters {
  grid-area: filters;
  overflow-y: hidden;
}

.filters button {
  color: var(--text-color);
}

.filters ul {
  padding: 0;
}

.filter-header {
  align-items: baseline;
}

.filter-name {
  font-size: 1.5rem;
  line-height: 2rem;
}

.slider {
  width: 100%;
}

.not-selected {
  color: var(--text-color);
}

.products {
  grid-area: products;
}

.products-container {
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  max-width: 90%;
  justify-items: center;
  gap: 0.5rem;
}

.card-title,
p {
  line-height: normal;
  margin-top: 1rem;
}

.card:hover {
  box-shadow: var(--primary) 0px 0px 25px 5px;
}

.card-badge {
  top: 24em;
  left: -2px;
  border-radius: 0px 3px 3px 0;
  color: var(--text-color);
  background-color: var(--secondary);
  border: 2px solid var(--success);
}
