@import url(./stylesheets/homepage.css);
@import url(./stylesheets/products.css);
@import url(./stylesheets/cart.css);
@import url(./stylesheets/wishlist.css);
@import url(./stylesheets/auth.css);

/* header */
.nav-list {
  width: 14rem;
}

.nav-list i {
  font-size: 2em;
}

.badge {
  height: 1.3rem;
  width: 1.3rem;
}

.link {
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
}

/* custom css for keeping toast below navbar */
.Toastify__toast-container--top-right {
  top: 6em;
}

@media screen and (max-width: 769px) {
  .card-title {
    font-size: 1.2rem;
  }
}
